<!DOCTYPE html>
<html>
  <head>
    <title>Plana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/d5ef396488.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
      window.planaLogo = "<%= image_url('plana-logo.png') %>"
      window.planaLogo2 = "<%= image_url('plana-logo_v2.png') %>"
      window.planaLogo3 = "<%= image_url('plana-logo_v3.png') %>"
      window.asanaVideo = "<%= image_url('asana.mp4') %>"
      window.planaReview = "<%= image_url('plana_satisfaction_photo.png') %>"
      window.invite_peeps = "<%= image_url('invite_peeps.png') %>"
    </script>

    <%= favicon_link_tag asset_path('plana-logo_v3.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
