<!DOCTYPE html>
<html>
  <head>
    <title>Plana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    
    <script type="text/javascript">
      window.planaLogo = "<%= image_url('plana-logo.png') %>"
      window.asanaVideo = "<%= image_url('asana.mp4') %>"
      window.planaReview = "<%= image_url('plana_satisfaction_photo.png') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
